/* app css stylesheet */
.main-page {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
}

.crime-title {
	position: relative;
	text-align: center;
}

.crime-item {
	position: relative;
	text-align: center;
}

.crime-map {
	height: 35rem;
	width: 90%;
	position: relative;
  display: block;
  margin-bottom: 1rem;
}

.crime-type {
	padding-left: 1rem !important;
}

.md-menu-content {
	height: 20rem;
}

.filter-item {
	text-align: center;
	veritcal-align: middle;
	padding: 1rem;
}

.crime-result-button {
	margin-left: auto;
	margin-right: auto;
}

.progress-circle {
	margin: 1rem;
}

header, h3 {
	text-align: center;
}

.crime-title img {
	width: 100%;
	height: 100%;
	visibility: hidden;
}

header h1 {
	color: white;
	background-image: url("../img/header_background.png");
	background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  width: 100%;
  padding-top: 25%;
  padding-bottom: 25%;
}
