<md-content layout='row' layout-align="center">
	<ng-map class='crime-map' zoom="13" center="[37.770000, -122.450000]">
		<marker ng-repeat="crime in $ctrl.crimes" id="{{crime.case_number}}" on-click="$ctrl.onClick(crime)" position="{{$ctrl.markerPosition(crime)}}"></marker>
		<info-window id="info">
      <div ng-non-bindable="">
        <h2>{{$ctrl.displayedCrime.crime_type}}</h2>
        <p><strong>Date:</strong> {{$ctrl.displayedCrime.date_time}}</p>
        <p><a class='crime-link' href='{{$ctrl.getCrimeLink()}}'>Case File</a></p>
      </div>
    </info-window>
	</ng-map>
</md-content>